*
{
    margin: 0;
    padding: 0;
}
.sec1
{
    width: 100%;
    height: 100vh;
    background-image: url(img/anya-forger-4k-deuteragonist-spy-x-family-manga\ -\ Copy.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}