*
{
    margin: 0;
    padding: 0;
}
.sec1
{
    width: 100%;
    height: 100vh;
    background-image: url(img/levi-ackerman-fan-art-attack-on-titan-rivai-akkaman-portrait.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}